.background {
    background: url(../img/skyandocean.svg);
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 40% 45%;
    height: 300px;
    width: 600px;
    position: relative;}