// Outside Source Animation.css
// Grand Central Station
@import 'google-homepage';
@import 'background';


// First Frame

#G,
#Islandoo,
#Sung,
#Hook,
#L{
    position:center;
    height: 100px;
}

#G {width: 75px;
    right: 80px
}

#Islandoo{
    padding-top: 70px;
    animation: gelatine 1.2s infinite;
    
}

#sung{
    top: 8px;
    width: 60px;
    right: 15px;
    position: relative;
    animation: spin 3s infinite linear;
    animation-delay: 0s;
}


#Hook{
    right: 40px;
    position: relative;
    bottom: -70px;
    transform-origin: 50% 0;
	transform-origin: 50% 0;
	animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}


#L{
    position: relative;
    right: 40px;
}



//Keyframe Animation



@keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

@keyframes swinging{
	0%{-webkit-transform: rotate(10deg);}
	50%{-webkit-transform: rotate(-5deg)}
	100%{-webkit-transform: rotate(10deg);}
}



@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  //15% { transform: scale(0.9, 1.1); }
  //15% { transform: scale(1.1, 0.9); }
  30% { transform: scale(0.95, 1.05); }
}


@keyframes move {
		0% {transform:translateX(0);}
		50% {transform:translateX(-100px);}
		100% {transform:translateX(0);}
}